h2 {
	color: #0057b8;
	display: inline-block;
  }

  h3 {
	color: #0057b8;
  }

  p {
	font-size: 1.1em;
	line-height: 1.6em;
  }
  
#menu {
	position: fixed; /* Stick the menu to the top of the screen */
	width: 100%;
	height: 45px;
	background: white;
	border-bottom: 3px solid #0057b8;
	font-family: 'Segoe UI', sans-serif;
  }

  #menu li {
	display: inline;
	margin: 0 20px;
  }
  
  #menu a {
	text-decoration: none; /* Remove underline from links */
	color: #0057b8; 	  /* Text color */
	font-size: 1.2em;
	font-weight: bold;
  }

  #menu a:hover {
	color: #0057b8;
	text-decoration: underline;
  }
  
  body {
	font-family: 'Segoe UI', sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
  }
  
  .section {
	padding: 80px 20px 40px;
	max-width: 900px;
	margin: auto;
  }
	
  iframe {
	margin: 20px 0;                       /* Vertical spacing */
	max-width: 100%;                      
	border-radius: 8px;                   /* Rounded corners */
	transition: transform 0.3s ease;      /* Smooth zoom effect */
  }
  
  img {
	margin: 10px;
	border-radius: 8px;
	transition: transform 0.3s ease;
  }

  img:hover {
	transform: scale(1.05);
  }

  .card img {
	width: 180px;
	height: 270px;
	object-fit: cover;
  }
  
  .card img:hover {
	transform: scale(2.5);
  }
/*This is the block that wraps all the picture cards.*/
  .photos {
	display: flex;
	justify-content: center;   /* Center the items horizontally */
	flex-wrap: wrap; 		  /* Allow items to wrap to the next line */
  }
  
  #like {
	display: flex;
	flex-direction: column;   
	align-items: center;      
	gap: 10px;                
	margin-top: 20px;
	padding: 20px;
	background-color: #b7cee8;
	border-radius: 10px;
  }

  #like-button {
	background-color: #0057b8;
	color: white;
	font-size: 1em;
	padding: 8px 16px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  #like-button:hover {
	background-color: #004a9f;
  }


  .qr-section {
	background-color: white;
	padding: 40px 20px;
	border-radius: 12px;
	margin-top: 40px;
  }
  
  /* כותרת בצד שמאל */
  .qr-title {
	text-align: left;
	color: #0057b8;
	margin-bottom: 20px;
  }
  
  /* מרכז את ה-QR */
  .qr-center {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .qr-image {
	width: 180px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }