#menu {
	position: fixed; /* Stick the menu to the top of the screen */
	width: 100%;
	height: 45px;
	background: White;
	border-bottom: 3px solid #0057b8;
	font-family: 'Segoe UI', sans-serif;
  }

  #menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 45px;
  }
  
  #menu li {
	display: inline;
	margin: 0 15px;
  }
  
  #menu a {
	text-decoration: none;
	color: #0057b8;
	font-weight: bold;
	transition: color 0.3s;
  }
  
  #menu a:hover {
	color: 0057b8;
	text-decoration: underline;
  }
  
  body {
	font-family: 'Segoe UI', sans-serif;
	background-color: #f4faff;
	margin: 0;
	padding: 0;
  }
  
  .section {
	padding: 80px 20px 40px;
	max-width: 900px;
	margin: auto;
  }
  
  h2 {
	color: #0057b8;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 20px;
  }
  
  img {
	margin: 10px;
	border: 2px solid black;
	border-radius: 8px;
	transition: transform 0.3s;
  }
  
  img:hover {
	transform: scale(1.05);
  }

  img {
	width: 500px;
	height: auto;
  }
  
  
  iframe {
	margin: 20px 0;
	max-width: 100%;
	border-radius: 8px;
  }
  
  p {
	font-size: 1.1em;
	line-height: 1.6em;
  }

  .photos {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap; /* כדי שירד שורה במסך קטן */
	margin-top: 40px;
  }
  


  .card img {
	width: 180px;
	height: 270px;
	object-fit: cover;
  }
  
  .card img:hover {
	transform: scale(2.5);
  }

  .video-text h3 {
	color: #0057b8;
  }
  